<div class="row" style="padding-bottom: 30px;">
 <div class = "col-md-5">
  <div class="sub-ti">
   <h2>作品詳細</h2>
  </div>
 </div>
</div>

<div class="row" style="padding-bottom: 10px;">
   <div class = "col-md-5">
     <%= image_tag @work.image.to_s %>
     <p><%= @work.source %></p>
   </div>

   <div class = "col-md-6 offset-md-1">
      <div class="centers" style = "padding-bottom:10px;">
       <h2><%= @work.title %></h2>
       <p><%= @work.medium %></p>
        <%= form_with model: @work_mng,url:  {action: 'show'},local: true do |f| %>
          <%= f.select(:category,[["お気に入り"],["後で見る"],["断念"],["閲覧済み"]], { include_blank: '管理タグ',selected:@category})%>
          <%= f.hidden_field :work_id, :value => @work.id %>
          <%= f.hidden_field :member_id, :value => current_member.id %>
          <!--右に全額スペース1マスあり-->　<!--ここまで-->
          <%= f.submit('登録',class: 'btn btn-secondary') %>
        <% end %>
      </div>

     <table class="vertical-table">

       <tr>
         <th>5段階評価</th>
         <td><%= @score_avg %></td>
       </tr>

       <tr>
         <th>公開日</th>
         <td><%= @work.release_date %></td>
       </tr>

       <tr>
         <th>ジャンル</th>
         <td>
           <% @genres.each do|genre| %>
            <%= Genre.find(genre).name %>　<!--左に全角スペースあり-->
           <% end %>
         </td>
       </tr>

       <tr>
         <th>原作者</th>
         <td><%= @work.author %></td>
       </tr>

       <% if @work.medium != "漫画" and @work.medium != "小説" %>
       <tr>
         <th>出演者</th>
         <td>
           <% @actors.each do|actor| %>
            <%= Actor.find(actor).name %>　<!--左に全角スペースあり-->
           <% end %>
         </td>
       </tr>
       <% end %>

     </table>
  </div>
</div>

<br>

<div class="row" style="padding-bottom: 10px;">
 <div class = "col-md-10 offset-md-1">
  <table class="vertical-table">
    <tr>
      <th>あらすじ</th>
      <td><%= @work.synopsis%></td>
    </tr>
  </table>
 </div>
</div>

<div class="row" style="padding-bottom:30px;">
 <div class = "col-md-3 offset-md-9">
   <%= link_to "スレッド一覧を見る", work_forums_path(@work.id) %>
 </div>
</div>

<div class="row" style="padding-bottom:30px;">
 <div class = "col-md-5">
   <h2>レビュー</h2>
 </div>
 <div class = "col-md-2 offset-md-5">
   <%= link_to "レビューを投稿する", new_work_review_path(@work.id) %>
 </div>
</div>

<div class="row" style="padding-bottom:30px;">
 <div class = "col-md-12">

   <div class="row" style="padding-top :10px;">
     <div class = "col-md-12">
       <table class="table">
         <tr>
           <th>投稿日</th>
           <th>評価</th>
           <th>投稿者</th>
           <th>レビュー</th>
           <th></th>
         </tr>

         <% @reviews.each do|review| %>
          <tr>
           <td width="160">
            <%= review.created_at.to_s(:datetime_jp) %>
           </td>

           <td width="100">
            <%= review.score %>
           </td>

          <% if review.member_id == current_member.id %>
           <td width="160">
            <%= Member.find(review.member_id).name %>
           </td>
          <% else %>
           <td width="160">
            <%= link_to "#{Member.find(review.member_id).name}",others_path(others_id: review.member_id) %>
           </td>
          <% end %>

           <td width="650">
            <b><%= review.title %></b>
            <br>
            <%= review.sentence %>
           </td>

           <td width="300">
            <% if review.member_id == current_member.id %>
            <!--自分が投稿したレビューの場合-->
              <%= link_to(edit_work_review_path(@work.id,review.id)) do %>
                <button type="button" class="btn btn-success">編集</button>
              <% end %>
              <!--右に全額スペース1マスあり-->　<!--ここまで-->
              <%= link_to(work_review_path(@work.id,review.id),method: :delete, data: {confirm: "本当に削除しますか？"} ) do %>
                <button type="button" class="btn btn-danger">削除</button>
              <% end %>
              <p><%= ReviewMng.where(review_id: review.id,favorite: true).count %>人が共感しました。</p>
            <% else %>
            <!--自分以外が投稿したレビューの場合-->
              <% if ReviewMng.find_by(member_id: current_member.id,favorite: true) %>
                 <%= form_with model: @review_mng,url: "reviews/#{@work.id}",local: true do |f| %>
                   <%= f.hidden_field :favorite, :value => false %>
                   <%= f.hidden_field :review_id, :value => review.id %>
                   <%= f.hidden_field :member_id, :value => current_member.id %>
                   <%= f.submit('共感済み',class: 'btn btn-secondary') %>
                 <% end %>
                 <p><%= ReviewMng.where(review_id: review.id,favorite: true).count %>人が共感しました。</p>
               <% else %>
                 <%= form_with model: @review_mng,url: "reviews/#{@work.id}",local: true do |f| %>
                   <%= f.hidden_field :favorite, :value => true %>
                   <%= f.hidden_field :review_id, :value => review.id %>
                   <%= f.hidden_field :member_id, :value => current_member.id %>
                   <%= f.submit('共感した！',class: 'btn btn-info') %>
                   <p><%= ReviewMng.where(review_id: review.id,favorite: true).count %>人が共感しました。</p>
                 <% end %>
               <% end %>
            <% end %>
            </td>

          </tr>
         <% end %>

       </table>

     </div>
   </div>

 </div>
</div>

<div class="row" style="padding-bottom:30px;">
 <div class = "col-md-2 offset-md-10">
   <%= link_to "レビューをすべて見る", work_reviews_path(@work.id) %>
 </div>
</div>