<div class="row" style="padding-bottom: 30px;">
 <div class = "col-md-12">
  <div class="sub-ti">
   <h2><%= @member.name %>さんのレビュー詳細</h2>
  </div>
 </div>
</div>

<div class="row">
 <%= render 'public/others/menu_others', member: @member %>

 <div class = "col-md-9">

     <table class="vertical-table">

       <tr>
         <th>作品名</th>
         <td>
           <%= @work.title %><br>
           <%= link_to "(作品ページ)", work_path(@work.id) %>
         </td>
       </tr>

       <tr>
         <th>作品媒体</th>
         <td><%= @work.medium %></td>
       </tr>


       <tr>
         <th>5段階評価</th>
         <td><%= @review.score %></td>
       </tr>

       <tr>
         <th>投稿日</th>
         <td><%= @review.created_at.to_s(:datetime_jp) %></td>
       </tr>

       <tr>
         <th>レビュー内容</th>
         <td><%= @review.sentence %></td>
       </tr>

     </table>
 </div>
</div>


