<div class="col-12 clearfix">
    <div class="float-right"><%= link_to "管理者の方はこちら>",admin_session_path %></div>
</div>


<div class="jumbotron">
 <div class="mx-auto text-box">
   <p>映画、ドラマ、アニメ、小説、漫画の<br>
   総合評価&掲示板サイト</p>
 </div>
</div>

<div class="container">
  <h3>最近追加された作品</h3>
  <br>
  <div class="row">

  <% @work_sumples.each do |work|  %>
   <div class="col-md-3" 'sized' >
    <%= link_to "/works/#{work.id}" do %>
     <%= image_tag work.image.to_s, :size =>'200x200' %>
    <% end %>
    <p><%= work.title%></p>
    <p><%=work.medium%></p>
  </div>
  <%end %>

   <div class="col-12 clearfix">
      <div class="float-right"><%= link_to "全ての作品を⾒る>",works_path %></div>
    </div>
</div>


<!--<div class="container">-->
<!--  <h3>最近レビューされた作品</h3>-->
<!--  <br>-->
<!--  <div class="row">-->

<!--  % @work_review_sumples.each do |work_r|  %>-->
<!--   <div class="col-md-3" 'sized' >-->
<!--    %= link_to "/works/#{work_r.id}" do %>-->
<!--     %= image_tag work_r.image.to_s, :size =>'200x200' %>-->
<!--    % end %>-->
<!--     <p>%= work_r.title%></p>-->
<!--     <p>%=work_r.medium%></p>-->
<!--   </div>-->
<!--  %end %>-->

<!--   <div class="col-12 clearfix">-->
<!--      <div class="float-right">%= link_to "全ての作品を⾒る>",works_path %></div>-->
<!--    </div>-->
<!--</div>-->