<div class="row" style="padding-bottom: 30px;">
 <div class = "col-md-12">
  <div class="sub-ti">
   <h2>お気に入りスレッド一覧</h2>
  </div>
 </div>
</div>


<div class="row">
 <%= render 'public/mypages/menu' %>
 <div class = "col-md-9">
    <table class="table">
       <tr>
         <th>更新日</th>
         <th>作品名</th>
         <th>スレッド</th>
       </tr>
     <% @forums.each do|forum| %>
       <tr>
         <td width="160">
          <% if !Comment.where(forum_id: forum).blank? %>
           <% @comment_new = Comment.where(forum_id: forum).order(created_at: :desc).limit(1) %>
           <%= @comment_new.first.created_at.to_s(:datetime_jp) %>
          <% else %>
           <%= Forum.find(forum).created_at.to_s(:datetime_jp) %>
          <% end %>
         </td>

         <td width="300">
          <b><%=  Work.find(Forum.find(forum).work.id).title %></b>
          <p><%= Work.find(Forum.find(forum).work.id).medium %></p>
         </td>

         <td width="500">
          <% if !@forums.blank? %>
           <% if !Comment.where(forum_id: forum).blank?%>
            <%= link_to "#{Forum.find(forum).title}  (#{Comment.where(forum_id: forum).count})", work_forum_path(Forum.find(forum).work.id,forum) %>
           <% else %>
            <%= link_to "#{Forum.find(forum).title} (0)", work_forum_path( Forum.find(forum).work.id,forum) %>
           <% end %>
          <% end %>
         </td>
       </tr>
     <% end %>

    </table>

 </div>
</div>


