<div class="row" style="padding-bottom: 30px;">
 <div class = "col-md-12">
  <div class="sub-ti">
   <h2>レビュー作品履歴</h2>
  </div>
 </div>
</div>

<div class="row">
 
  <%= render 'public/mypages/menu' %>
  
  <div class = "col-md-9">
   
   <div class="centers">

    <%= link_to mypages_path(g: @all) do %><button class="btn btn-outline-secondary">総合</button><%end%>

    <%= link_to mypages_path(g: @anime) do %><button class="btn btn-outline-secondary">アニメ</button><%end%>

    <%= link_to mypages_path(g: @movie) do %><button class="btn btn-outline-secondary">映画</button><%end%>

    <%= link_to mypages_path(g: @drama) do %><button class="btn btn-outline-secondary">ドラマ</button><%end%>

    <%= link_to mypages_path(g: @comic) do %><button class="btn btn-outline-secondary">漫画</button><%end%>

    <%= link_to mypages_path(g: @novel) do %><button class="btn btn-outline-secondary">小説</button><%end%>
    
   </div>
    
    <br>

   <table class="table">
     <tr>
       <th>投稿日</th>
       <th>媒体</th>
       <th>作品名</th>
       <th>評価</th>
     </tr>

     <% @reviews.each do|review| %>
      <tr>
       <td width="160"><%= review.created_at.to_s(:datetime_jp) %></td>

       <td width="120"><%= Work.find(review.work_id).medium %></td>

       <td width="750">
        <%= link_to "#{Work.find(review.work_id).title}", mypage_path(review.id) %>
       </td>

       <td width="300"><%= review.score %></td>
      </tr>
     <% end %>

   </table>
  </div>
</div>

