<div class="row">
  <div class="col-md-5">
    <div class="sub-ti">
      <h3>出演者登録/一覧</h3>
    </div>
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-3">
    <%= form_with model: @actor, url: {controller: 'actors', action: 'index' } do |f| %>
      <div class="field">
        <table class="nomal-table">
          <tr>
            <th>
              <%= f.label :新規登録 %>
            </th>
          </tr>

          <tr>
            <td>
              <%= f.text_field :name,:placeholder => "出演者名"%>
            </td>
          </tr>

          <tr>
            <td>
              <div class="text-right">
                <div class="actions">
                  <%= f.submit('登録',class: 'btn btn-success') %>
                </div>
              </div>
            </td>
          </tr>
        </table>
      </div>
    <% end %>

    <table>
      <%= search_form_for @q, url: admin_actors_path do |f| %>
        <div class="field">
          <tr>
            <th>
              <%= f.label :name_cont, '出演者検索' %>
            </th>
          </tr>

          <tr>
            <td>
              <%= f.search_field :name_cont, required: true, :placeholder => "出演者名"%>
            </td>
          </tr>

          <tr>
            <td>
              <div class="text-right">
                <div class="actions">
                  <%= f.submit('検索',class: 'btn btn-secondary') %>
                </div>
              </div>
            </td>
          </tr>
        </div>
      <% end %>
    </table>

      <table class="list_table">
        <tr>
          <th>検索結果</th>
          <th></th>
        </tr>
        <% @results.each do |actor| %>
          <tr>
            <td>
              <%=actor.name%>
            </td>
  
            <td>
              <div class="centers">
                <%= link_to("actors/#{actor.id}",method: :delete, data: {confirm: "本当に削除しますか？"} ) do %>
                  <button type="button" class="btn btn-danger">削除</button>
                <%end%>
              </div>
            </td>
          </tr>
      <% end %>
    </table>
  </div> <!-- col end-->

  <div class="col-md-9">
    <div class="row">
      <!--1列目-->
      <div class="col-md-5 offset-md-1">
        <table class="list_table">

          <tr>
            <th>出演者名</th>
            <th></th>
          </tr>

          <% @actors.each.with_index do|actor,index| %>
            <%if index % 2 == 0%>
              <tr>
                <td>
                  <%=actor.name%>
                </td>

                <td>
                  <div class="centers">
                    <%= link_to("actors/#{actor.id}",method: :delete, data: {confirm: "本当に削除しますか？"} ) do %>
                      <button type="button" class="btn btn-danger">削除</button>
                      <%end%>
                  </div>
                </td>
              </tr>
            <%end%>
          <%end%>
        </table>
      </div>
      <!--2列目-->
      <div class="col-md-5 offset-md-1">
        <table class="list_table">
          <tr>
            <th>出演者名</th>
            <th></th>
          </tr>

          <% @actors.each.with_index do|actor, index| %>
            <%if index % 2 == 1%>
              <tr>
                <td>
                  <%= actor.name %>
                </td>

                <td>
                  <div class="centers">
                    <%= link_to("actors/#{actor.id}",method: :delete, data: {confirm: "本当に削除しますか？"} ) do %>
                      <button type="button" class="btn btn-danger">削除</button>
                    <% end %>
                  </div>
                </td>
              </tr>
            <%end%>
          <%end%>
        </table>
      </div>
    </div>
  </div>
</div> <!--row end-->