<div class="row">
  <div class="col-md-5">
    <div class="sub-ti">
      <h2>作品一覧</h2>
    </div>
  </div>

  <div class="col-md-1 offset-md-6">
    <%= link_to new_admin_work_path, method: :get do %>
      <button type="button" class="btn btn-success">新規作成</button>
    <% end %>
  </div>

</div>




<table class="table">

  <tr>
    <th>作品媒体</th>
    <th>公開日</th>
    <th>作品名</th>
    <th>ジャンル</th>
    <th>評価</th>
    <th></th>
  </tr>

  <% @works.each do|work| %>
    <tr>
      <td>
        <%=work.medium%>
      </td>
      
      <td>
        <%=work.release_date%>
      </td>
      
      <td>
        <%= link_to "#{work.title}","/admin/works/#{work.id}"%>
      </td>
      
      <td>
        <%=work.genre.name%>
      </td>
      
      <td>
        <%= link_to("/admin/works/#{work.id}",method: :delete, data: {confirm: "本当に削除しますか？"} ) do %>
        <button type="button" class="btn btn-danger">削除する</button>
        <%end%>
      </td>
      
      <% end %>

</table>


<div class="row">
  <div class="col-md-2 offset-md-5">
    <%= paginate @works %>
  </div>
</div>