<div class="row" style="padding-bottom: 30px;">
 <div class = "col-md-5">
  <div class="sub-ti">
   <h2>レビュー編集</h2>
  </div>
 </div>
</div>

<%= form_with model: @review,url: work_review_path(@work.id,@review.id,m: @to_mypage),local: true do |f| %>

  <div class="row" style="padding-bottom: 10px;">
    <div class = "col-md-10 offset-md-2">

      <table class="vertical-table">
        <tr>
          <th><%= f.label :"5段階評価" %></th>
          <td><%= f.select(:score, [[1],[2],[3],[4],[5]],{ include_blank: '5段階評価'}) %></td>
        </tr>

        <tr>
          <th><%= f.label :タイトル %></th>
          <td><%= f.text_field :title,:size=>"60", :placeholder => "作品名", autofocus: true%></td>
        </tr>

        <tr>
          <th><%= f.label :本文 %></th>
          <td><%= f.text_area :sentence,size: "60x5" %></td>
        </tr>

      </table>

    </div>
  </div>

  <%= f.hidden_field :work_id, :value => @work.id %>
  <%= f.hidden_field :member_id, :value => current_member.id %>

  <div class="centers">
    <%= f.submit('編集完了',class: 'btn btn-primary') %>
  </div>

<% end %>