<div class="row" style="padding-bottom: 30px;">
 <div class = "col-md-5">
  <div class="sub-ti">
   <h2>新規レビュー作成</h2>
  </div>
 </div>
</div>

<%= form_with model: @review,url:  {action: 'create'},local: true do |f| %>

  <div class="row" style="padding-bottom: 10px;">
    <div class = "col-md-10 offset-md-2">

      <table class="vertical-table">
        <tr>
          <th><%= f.label :"5段階評価" %></th>
          <td><%= f.select(:score, [[1],[2],[3],[4],[5]],{ include_blank: '5段階評価'}) %></td>
        </tr>

        <tr>
          <th><%= f.label :タイトル %></th>
          <td><%= f.text_field :title,:size=>"60", :placeholder => "作品名", autofocus: true%></td>
        </tr>

        <tr>
          <th><%= f.label :本文 %></th>
          <td><%= f.text_area :sentence,size: "60x5" %></td>
        </tr>

      </table>

    </div>
  </div>

  <%= f.hidden_field :work_id, :value => @work.id %>
  <%= f.hidden_field :member_id, :value => current_member.id %>

<div class="row" style="padding-bottom: 10px;">
  <div class = "col-md-3 offset-md-5">
    <%= f.submit('レビューを投稿する',class: 'btn btn-primary') %>
    <% end %>
  </div>
</div>

<div class="row" style="padding-bottom: 10px;">
  <div class = "col-md-3 offset-md-5">
    <!--幅調整のため「作品詳細へ戻る」の両側に全角スペースあり-->
    <%= link_to "　作品詳細へ戻る　", work_path(params[:work_id]),class: 'btn btn-secondary' %>
  </div>
</div>


