<div class="row">
  <div class="col-md-5">
    <div class="sub-ti">
      <h3>作品編集確認</h3>
    </div>
  </div>
</div>

<%= form_for @work, url: admin_work_path(@before_work.id),method: :patch do |f| %>

  <div class="row">
   <div class = "col-md-10 offset-md-2">
    <br>
    <table class = "vertical-table">
       <tr>
        <th>タイトル</th>
        <td><%= @work.title%></td>
        <%= f.hidden_field :title %>
       </tr>

       <tr>
       <th>作品画像</th>
       <td>
         <% if @image_url %>
           <%= image_tag(@image_url) %>
           <%= hidden_field_tag :"cache[image]", @image_cache_name %>
         <% else %>
           <%= image_tag @before_work.image.to_s %>
         <% end %>
       </td>
       </tr>

       <tr>
        <th>画像出典元</th>
        <td><%= @work.source %></td>
        <%= f.hidden_field :source %>
       </tr>

       <tr>
        <th>作品媒体</th>
        <td><%= @work.medium %></td>
        <%= f.hidden_field :medium %>
       </tr>

       <tr>
        <th>原作者</th>
        <td><%= @work.author %></td>
        <%= f.hidden_field :author %>
       </tr>

       <tr>
        <th>公開日</th>
        <td><%= @work.release_date %></td>
        <%= f.hidden_field :release_date %>
       </tr>

       <tr>
        <th>あらすじ</th>
        <td><%= @work.synopsis %></td>
        <%= f.hidden_field :synopsis %>
       </tr>
       
       <% if @work.medium != "漫画" and @work.medium != "小説" %>
       <tr>
        <th>出演者</th>
        <td>
          <% @actors.each do |actor| %>
           <%= Actor.find(actor).name %>　<!--左に全角スペースあり-->
          <% end %>
        </td>
       </tr>
       <% end %>

       <tr>
        <th>ジャンル</th>
        <td>
          <% @genres.each do |genre| %>
           <%= Genre.find(genre).name %>　<!--左に全角スペースあり-->
          <% end %>
        </td>
       </tr>
    </table>
   </div>
  </div>

  <div class="centers" style="padding-bottom: 30px;">
    <%= link_to "作り直す", edit_admin_work_path(@before_work.id), class: 'btn btn-secondary' %>
  </div>


  <div class="centers">
    <%= f.submit '編集完了',class: 'btn btn-primary' %>
  </div>

<% end %>